[submodule "week2/quest3/glossy-klilathey-B7PD"]
	path = week2/quest3/glossy-klilathey-B7PD
	url = https://github.com/gelicamarie/glossy-klilathey-B7PD
[submodule "week2/week2/quest3-4/glossy-klilathey-B7PD"]
	path = week2/week2/quest3-4/glossy-klilathey-B7PD
	url = https://github.com/gelicamarie/glossy-klilathey-B7PD
[submodule "week2/quest3/--force"]
	path = week2/quest3/--force
	url = https://github.com/gelicamarie/glossy-klilathey-B7PD
